@using System.Linq;
@model IEnumerable<TVCommon.ViewModels.CreateArtigoViewMmodel>
@{
    ViewData["Title"] = "Get";
}
@foreach (var item in Model)
{
    List<string> lstTag = new List<string>();
    lstTag = item.Tags.Split(' ').ToList();

    <article class="art-article">
        <section class="art-article-intern">
            <header class="art-header">
                <section class="art-header-tittle">
                    <h1>
                        <a style="all: unset" asp-controller="Article"
                           asp-action="GetArticle"
                           asp-route-Tittle="@item.Artigo.Titulo.Replace(' ', '-')">@item.Artigo.Titulo</a>
                    </h1>
                </section>
                <section class="art-header-dois">
                    <section class="art-header-subtittle">
                        @item.Artigo.DataPublicacao.ToString("d") <br />
                        @foreach (string s in lstTag)
                        {
                            <a asp-controller="Article"
                               asp-action="GetTag"
                               asp-route-tag="@s">
                                @s
                            </a>
                        }
                    </section>
                    <section class="art-header-share"></section>
                </section>
            </header>
            <section class="art-body">
                <section class="art-body-image"></section>
                @Html.Raw(item.Artigo.Texto.Substring(0, 150))

            </section>
        </section>
        <a asp-controller="Article"
           asp-action="GetArticle"
           asp-route-Tittle="@item.Artigo.Titulo.Replace(' ', '-')">
            Read More..
        </a>
    </article>
}